<include file="Public:head"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    <DIV class="Item hr">
      <DIV class=current>{$action_name}</DIV>
    </DIV>
    <script language="javascript" type="text/javascript" src="__PUBLIC__/js/datePicker/WdatePicker.js"></script>
    <table width="99.5%">
    	<colgroup>
  			<col />
			<col width="660px"/>
		</colgroup>
		<tbody>
			<tr>
				<td width="30%">
					<button class="btn" onclick="balance_add()">预存款管理</button>
					<button class="btn" onclick="points_manage()">积分升降管理</button>
				</td>
				<td width="70%">
					<form action="__URL__/<if condition="ACTION_NAME eq 'index'">index<else/>recycle</if>" method="post">关键字：
						<input type="text"  class="input" name="keywords" style="width:100px;" value="{$keywords}"/>
						手机号：<input type="text"  class="input" name="mobile" style="width:100px;" value="{$mobile}"/>
				               &nbsp;&nbsp;&nbsp;&nbsp;注册时间：
				               <input type="text" id="d4311" name="starttime"  class="input" style="width:100px;"class="Wdate" onFocus="WdatePicker({isShowClear:true,readOnly:true,realDateFmt:'yyyy-MM-dd',realTimeFmt:'HH:mm:ss',maxDate:'%y-%M-%d'})" value="{$starttime}"/>
				               -<input type="text" name="endtime"  style="width:100px;"   class="input" class="Wdate" id="d4312" onFocus="WdatePicker({isShowClear:false,realDateFmt:'yyyy-MM-dd',realTimeFmt:'HH:mm:ss',readOnly:true,maxDate:'%y-%M-%d'})"  value="{$endtime}"/>
						<input type="submit" value="搜索" class="btn submit" style="margin-left:20px;"/>
					</form>
				</td>
			</tr>
		</tbody>
    </table>
    
	
	<form action="__URL__/memberDelAll" method="post" id='memberDel' name="member_list">
	<table width="99.5%" border="0" cellspacing="0" cellpadding="0" class="tab">
       <thead>
            <tr>
                <if condition="ACTION_NAME eq 'index'"><td width="3%"><input name="checkall" id="checkall" type="checkbox" value="" onclick="selected()"/></td></if>
                <td width="6%">姓名</td>
                <td width="6%">用户名</td>
                <td width="6%">邀请人</td>
                <td width="6%">推荐的用户</td>
                <td width="10%">邮箱</td>
                <td width="8%">手机</td>
                <td width="6%">等级积分</td>
                <td width="6%">会员等级</td>
                <td width="7%">余额</td>
                <td width="6%">可提现</td>
                <td width="12%">加入时间</td>
                <td width="5%">锁定</td>
                <td width="">操作</td>
            </tr>
		</thead>

           <volist name="list" id="vo" key="k">
           <tr align="center" id="{$vo.member_id}">
                   <if condition="ACTION_NAME eq 'index'"><td><input name="check[]" type="checkbox" id="checkone" value="{$vo.member_id}" /></td></if>
                   <td>{$vo.member_name}</td>
                   <td>{$vo.member_code}</td>
                   <td>{$vo.RecommendMemberCode}</td>
                   <td><a href='javascript:recommends({$vo.member_id});'>查看</a></td>
                   <td>{$vo.member_email}</td>
                   <td>{$vo.member_mobile}</td>
                   <td id='points{$vo.member_id}'>{$vo.my_points}</td>
                   <td id='level_name{$vo.member_id}'>{$vo.distribution_level.level_name}</td>
                   <td>{$vo.my_account}</td>
                   <td>{$vo.my_distribution}</td>
                   <td>{$vo.create_time|date='Y-m-d H:i',###}</td>
                   <td><eq name="vo.is_lock" value="1">是<else/>否</eq></td>
                   <if condition="ACTION_NAME eq 'index'"><td width="20%"> [ <a href="__URL__/memberEdit/id/{$vo.member_id}">编辑 </a> ] [ <a onclick="delModel('__URL__/memberDel/id/{$vo.member_id}')" href="javascript:void(0);" class="del" >删除 </a> ][ <a href="javascript:balance_log({$vo.member_id})">账户明细日志 </a> ]<eq name="vo.IsEmail" value="0">[ <a href="#"  class="reemail">重发邮件 </a> ]</eq></td><else/>
                   <td width="20%">[ <a onclick="regainMember({$vo.member_id});" href="javascript:void(0);" class="recover" >恢复 </a> ][ <a onclick="delModel('__URL__/memberRecycleDel/id/{$vo.member_id}')" href="javascript:void(0);" class="Powerful_deleting">强力删除</a> ]</td>
                    </if>
                </tr>

                </volist>

                <tr align="left">
              <if condition="ACTION_NAME eq 'index'"><td colspan="13"><button class="btn submit"  id="submitButton">批量删除</button></td></if>
              </tr>
                 <tr align="center">
              <td colspan="13">{$page}</td>
              </tr>
    </table>
	</form>
  </DIV>
</DIV>
</DIV>
<DIV class=clear></DIV>
<include file="Public:foot"/>
</BODY></HTML>
<SCRIPT type=text/javascript>

//删除指定id会员
function delModel(url){
	if(url!=null){
		popup.confirm('删除会员','你确定要删除吗',function(action){
			if(action == 'ok'){
			 $.ajax({
				 type: "GET",
				 url: url,
				 dataType: "json",
				success: function(json){
					if(json.status==1){
						//popup.alert(json.info);
						window.location.reload();
						//$("json.id").remove();
						return false;
					}else{
						popup.alert(json.info);
						return false;
					}
				}
			 });
			}
		});
		//删除多个
	}else{

	}
}
</SCRIPT>
<script>

$('#submitButton').click(function(){
	delModels();
	return false;
});
//删除批量id会员
function delModels(){
	popup.confirm('你确定删除所选吗？','你确定要删除所选吗',function(action){
		if(action == 'ok'){
			var delids = new Array();
			var ids = $('input[name="check[]"]');
			var j = 0;
			for(i=0;i<ids.length;i++){
				if(ids.eq(i).is(":checked")==true){
					delids[j] = ids.eq(i).val();
					j++;
				}
			}
			$.ajax({
				 type: "GET",
				 url: '__URL__/memberDelAll/del_id/' + delids,
				 dataType: "json",
				success: function(json){
					if(json.status==1){
						popup.alert(json.info);
						window.location.reload();
						//$("json.id").remove();
						return false;
					}else{
						popup.alert(json.info);
						return false;
					}
				}
			 });
		}
	});

}
function recommends(id){
	art.dialog.open("{:U('member/myRecommend')}?id="+id,{
		title:"推荐的用户",
		"button":
			[{
				"name":"后退",
				"callback":function(iframeWin,topWin)
				{
					
					
					iframeWin.window.history.go(-1);
					
					return false;
				}
			}],
		ok:function(iframeWin, topWin){
	    	
		}
	});
}


//预付款管理入口
function balance_add(){
	if($('input[name="check[]"]:checked').length < 1)
	{
		alert('请选择要进行预付款操作的用户！');
		return;
	}
	
	art.dialog.open("{:U('member/balance')}",{
		
		title:"预付款管理",
		
		ok:function(iframeWin, topWin){
			var formObject = iframeWin.document.forms['balanceForm'];
	    	formObject.onsubmit();

	    	if($(formObject).find('.invalid-text').length > 0)
	    	{
	    		return false;
	    	}
	    	
	    	
	    	//进行post提交
	    	var postData = $('[name="member_list"]').serialize()+'&'+$(formObject).serialize();
	    	$.post("{:U('member/member_recharge')}",postData,function(json){
	    		if(json.flag == 1){
	    			tips('操作成功');
	    			window.location.reload();
	    			return false;
	    		}else{
	    			alert(json.msg);
	    			return false;
	    		}
	    	},'json');
		}
	});
}

function points_manage(){
	if($('input[name="check[]"]:checked').length < 1)
	{
		alert('请选择要进行升降积分的用户！');
		return;
	}
	if($('input[name="check[]"]:checked').length != 1)
	{
		alert('只能操作一个用户');
		return;
	}
	var id = $('input[name="check[]"]:checked').val();
	art.dialog.open("{:U('member/points_manage')}?id="+id,{
		
		title:"升降积分管理",
		width:'500px',
		ok:function(iframeWin, topWin){
			var formObject = iframeWin.document.forms['pointsForm'];
	    	
			var points = $(formObject).find('input[name="points"]').val();
			var note = $(formObject).find('input[name="note"]').val();
			var type = $(formObject).find('select[name="type"]').val();
			if(points=='')
	    	{
	    		alert('请输入积分');return false;
	    	}
			//alert(points);
			if(isNaN(points))
	    	{
	    		alert('请输入整数');return false;
	    	}
			//formObject.submit();
			$.post("{:U('member/points_manage')}",{'points':points,'note':note,'type':type,'id':id},function(json){
	    		if(json.status == 1){
	    			tips('操作成功');
	    			parentreload(json.points,id);
	    		}else{
	    			alert(json.msg);
	    			return false;
	    		}
	    	},'json');
		}
	});
}
function parentreload(points,id){
	$.post("{:U('member/getDistributionLevel')}",{'points':points},function(json){
		if(json){
			$($('#points'+id)).html(points);
			$($('#level_name'+id)).html(json);
		}else{
			return false;
		}
	},'json');
}
//账户明细日志入口
function balance_log(id){
	
	var check = $('[name="member_list"]').serialize()
	art.dialog.open("{:U('member/balanceShow')}?id=" +id,{
		data:check,
		title:"账户明细日志",
		height:'80%',
		ok:function(iframeWin, topWin){
			
		}
	});
}
</script>
<script type='text/javascript'>
//恢复回收站会员
function regainMember(member_id)
{
	if(member_id!=null){
		popup.confirm('恢复会员','你确定要恢复吗',function(action){
			if(action == 'ok'){
			var url = "__URL__/memberRecycleRegain/id/@member_id@";
			url = url.replace('@member_id@',member_id?member_id:0);
			 $.ajax({
				 type: "GET",
				 url: url,
				 dataType: "json",
				success: function(json){
					if(json.status==1){
						popup.alert(json.info);
						window.location.reload();
						//$("json.id").remove();
						return false;
					}else{
						popup.alert(json.info);
						return false;
					}
				}
			 });
			}
		});
		//
	}else{

	}
}

</script>
<include file="Public:footer"/>
