<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-y:auto">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理后台</title>
<css rel="stylesheet" href="__PUBLIC__/css/spec.css" />
<css rel="stylesheet" href="{:C('WEB_STATICS')}/js/artdialog/skins/default.css" />
<js href="{:C('WEB_STATICS')}/js/jquery-1.9.0.min.js,{:C('WEB_STATICS')}/js/jquery.JSON.js" />
<js href="{:C('WEB_STATICS')}/js/artdialog/artDialog.js,{:C('WEB_STATICS')}/js/artdialog/plugins/iframeTools.js" />
<js href="__PUBLIC__/js/artTemplate/artTemplate.js,__PUBLIC__/js/artTemplate/artTemplate-plugin.js"/>

</head>