<include file="Public:head"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    <DIV class="Item hr">
      <DIV class=current>系统信息</DIV>
    </DIV>
    
    <TABLE class=tab border=0 cellSpacing=0 cellPadding=0 width="99%">
      <TBODY>
      <thead>
        <tr >
          <td width="8%">注册会员总数</td>
          <td width="8%">今日注册会员</td>
          <td width="8%"></td>
        </tr>
      </thead>
       <tr align="center">
          <td > <span style="color:red;">{$member_total_count}</span></td>
          <td><span style="color:red;">{$member_count}</span></td>
           <td><span style="color:red;"></span></td>
        </tr>
        </TBODY>
    </TABLE>
    
  </DIV>
</DIV>
</DIV>
<DIV class=clear></DIV>
<include file="Public:foot"/>
</BODY></HTML>