<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-y:auto">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理后台</title>
<css rel="stylesheet" href="/Public/css/base.css" />
</head>
<body style="width:600px;min-height:400px;">
<div class="pop_win">
<form action="__URL__/orderCollection" method="post" id="payform">
	<input type="hidden" name="order_id" value="{$order.order_id}"/>
	<input type="hidden" name="accept_name" value="{$order.accept_name}"/>
	<input type="hidden" name="collection[member_id]" value="{$order.member_id}"/>
	<input type="hidden" name="collection[pay_type]" value="{$order.pay_type}"/>

	<table width="90%" class="border_table" style="margin:10px auto">
		<col width="100px" />
		<col />
		<col width="100px" />
		<col />
		<tbody>
			<tr>
				<th>订单号:</th><td align="left">{$order.order_no}</td>
				<th>下单时间:</th><td align="left">{$order.create_time|date="Y-m-d H-i",###}</td>
			</tr>
			<tr>
				<th>订单总金额:</th><td align="left">{$order.order_amount}</td>
			</tr>
			<tr>
				<th>收款方式:</th>
				<td align="left">
					<select name="collection[payment_id]" pattern="required" alt="请选择支付方式" >
					<volist name="payment" id="pay">

					<option value="{$pay.id}" <if condition="$pay['id'] eq $order['pay_type']"> selected="selected"</if>>{$pay.name}</option>
					</volist>
					</select>
				</td>
			</tr>
			<tr>
				<th>收款金额:</th>
				<td align="left" colspan="3"><input type="text" class="small" name="collection[amount]" id="amount" value="{$order.order_amount}" pattern="float"/></td>
			</tr>
			<tr>
				<th>是否开票:</th><td align="left"><if condition="$order.invoice eq 0">否<else />是</if></td>
				<th>税金:</th><td align="left">￥{$orderdata.taxes}</td>
			</tr>
			<tr>
				<th>发票抬头:</th><td align="left">{$orderdata.invoice_title}</td>
				<th>付款人:</th><td align="left">{$order.accept_name}</td>
			</tr>
			<tr>
				<th>收款备注:</th>
				<td colspan="3" align="left">
					<textarea name="collection[note]" id="note" rows="3" cols="65">{$orderdata.note}</textarea>
				</td>
			</tr>
		</tbody>
	</table>
</form>
</div>
</body>
</html>