<include file="Public:head"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    <DIV class="Item hr">
		{$action_name}
    </DIV>
	<DIV class="current" style="height:30px;">
		<a onclick="selected()" id="checkbuttonall" href="javascript:void(0);"><button type="button" class="btn"><span class="sel_all">全选</span></button></a>

		<a onclick="delModels('<if condition="ACTION_NAME eq 'orderRefundmentlist' OR ACTION_NAME eq 'refundmentList'">index<else/>recycle</if>')" href="javascript:void(0);"><button type="button" class="btn"><span class="delete">批量删除</span></button></a>
		<if condition="ACTION_NAME eq 'refundmentRecycle'"><a href="javascript:void(0);" onclick="regain('refundment');"><button type="button" class="btn"><span class="addition">批量恢复</span></button></a></if>
		<if condition="ACTION_NAME eq 'orderRefundmentlist' OR ACTION_NAME eq 'refundmentList'">
		<a href="{:u('Order/refundmentRecycle')}"><button type="button" class="btn"><span class="addition">回收站</span></button></a>
		<else />
		<a href="{:u('Order/orderRefundmentlist')}"><button type="button" class="btn"><span class="addition">返回列表</span></button></a>
		</if>
	</DIV>

	<table width="99.5%" border="0" cellpadding="0" cellspacing="0" class="tab">
      <thead>
        <tr class="">
			<td class="t_c">选择</td>
			<td>查看</th>
			<td>订单号</td>
			<td>金额</td>
			<td>用户名</td>
			<td>支付状态</td>
			<td>完成时间</td>
		</tr>
      </thead>
      <tbody>
        <volist name="list" id="vo">
        <tr align="center" id="{$vo.order_id}">
			<td class="t_c"><input name="del_id[]" type="checkbox" value="{$vo.id}" /></td>
			<td><if condition="ACTION_NAME EQ 'orderRefundmentlist'"><a href="__URL__/refundmentShow/id/{$vo.id}">查看</a></if>
			<if condition="ACTION_NAME EQ 'refundmentList'"><a href="__URL__/refundmentDocshow/id/{$vo.id}">查看</a></if>
			</td>
			<td>{$vo.order_no}</td>
			<td>{$vo.amount}</td>
			<td>{$vo.username}</td>
			<td><if condition="$vo['pay_status'] eq 0">申请退款<elseif condition="$vo['pay_status'] eq 1" />退款失败<else />退款成功</if></td>
			<td>{$vo.time|date="Y-m-d H-i",###}</td>

        </tr>
        </volist>
        <tr>
          <td align="center" colspan='12'>{$page}</td>
        </tr>
      </tbody>
	  </table>

  </DIV>
</DIV>
</DIV>
<script>
	function delModel(url,tip){
		if(url!=null){
			popup.confirm(tip +'订单','你确定要' + tip +　'订单吗',function(action){
				if(action == 'ok'){
				$.getJSON(url, function(json){
					if(json.status==1){
						popup.alert(json.info);
						window.location.reload();
					}else{
						popup.alert(json.info);
						window.location.reload();
						return false;
					}
				});
				}
			});
				//删除多个
		}
	}
//恢复
function regain(actions){
	popup.confirm('恢复','你确定要恢复订单吗',function(action){
		if(action == 'ok'){
			var delids = new Array();
			var ids = $('input[name="del_id[]"]');
			var j = 0;
			for(i=0;i<ids.length;i++){
				if(ids.eq(i).is(":checked")==true){
					delids[j] = ids.eq(i).val();
					j++;
				}
			}
		$.getJSON('__URL__/regain/action/' + actions +'/del_id/' + delids , function(json){
			if(json.status==1){
				popup.alert(json.info);
				window.location.reload();
			}else{
				popup.alert(json.info);
				window.location.reload();
				return false;
			}
		});
		}
	});
}
//删除批量id会员
function delModels(type){
	popup.confirm('你确定删除所选吗？','你确定要删除所选吗',function(action){
		if(action == 'ok'){
			var delids = new Array();
			var ids = $('input[name="del_id[]"]');
			var j = 0;
			for(i=0;i<ids.length;i++){
				if(ids.eq(i).is(":checked")==true){
					delids[j] = ids.eq(i).val();
					j++;
				}
			}

			$.ajax({
				 type: "GET",
				 url: '__URL__/OrderRefundmentDelall/del_id/' + delids + '/type/' + type ,
				 dataType: "json",
				success: function(json){
					if(json.status==1){
						popup.alert(json.info);
						window.location.reload();
						return false;
					}else{
						popup.alert(json.info);
						return false;
					}
				}
			 });
		}
	});

}
</script>
<DIV class=clear></DIV>
<include file="Public:foot"/>
</BODY></HTML>
