<include file="Public:head"/>
<js href="__PUBLIC__/js/common.js,{:C('WEB_STATICS')}/js/form/form.js"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    <DIV class="Item hr">
      <DIV class=current>{$action_name}</DIV>
    </DIV>
    <table width="99.5%">
    	<colgroup>
  			<col />
			<col />
		</colgroup>
		<tbody>
			<tr>
				<td>
					<button class='btn' id='checkbuttonall' onclick="selected()"> 全选  </button>
					<a href="{:U('merchant/spaAdd')}" class="btn">添加项目</a>
					<!-- <if condition="$search['is_del'] neq 1">
					<button class='btn' onclick="delModels(0)"> 批量上架  </button>
					<button class='btn' onclick="delModels(2)"> 批量下架  </button>
					<button class='btn' onclick="delModels(1)"> 批量删除  </button>
					<else />
					<button class='btn' onclick="delModels(-1)"> 批量删除  </button>
					<button class='btn' onclick="delModels(0)"> 批量恢复删除  </button>
					</if> -->
					
				</td>
				<td align="right">
				<form action="{:U('merchant/spaList')}" method="post" name="searchForm" id="quickForm">
			      <IMG src="__PUBLIC__/images/icon_search.gif" align="absmiddle">
			      <!-- &nbsp;
			      <select name="category_id">
			        <option value="0">选择分类</option>
			        <volist name="catList" id="cate">
			          <option value="{$cate.class_id}">{$cate.fullname}</option>
			        </volist>
			      </select>
			      &nbsp;
			       <select name="is_del">
			        <option value="">选择上下架</option>
			        <option value="0">上架</option>
					<option value="2">下架</option>
					<option value="1">删除</option>
			      </select> -->
			      &nbsp;
			       <input placeholder="你要搜索的商家名称" id="newName" class="input" type="text" name="name" value="" />
			      &nbsp;
			      <button class="btn quickSubmit">搜索</button>
			    </form>
    			</td>
			</tr>
		</tbody>	
    </table>
    
    <table width="99.5%" border="0" cellpadding="0" cellspacing="0" class="tab">
    	<colgroup>
  			<col width="60px"/>
			<col/>
			<col/>
			<col width="120px"/>
			<col width="100px"/>
			<col width="90px"/>
			<col width="100px"/>
			<col width="100px"/>
		</colgroup>
      <thead>
        <tr align="center">
          <td>选择</td>
          <td>项目名称</td>
          <td>所属商家</td>
          <td>所属类目</td>
          <td>预约类型</td>
          <td>售价</td>
          <td>上架时间</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <volist name="spaList" id="vo">
          <tr id="{$vo['spa_id']}">
            <td align="center"><input name="del_id[]" type="checkbox" value="{$vo['spa_id']}" /></td>
            <td>{$vo['spa_name']}</td>
            <td>{$vo['merchant_name']}</td>
            <td>{$vo['cate_name']}</td>
            <td align="center">{$vo['order_type']==1 ? '预约到店':'预约上门' }</td>
            <td align="center">￥{$vo['sale_price']} <span style="color:#bbbbbb;text-decoration: line-through;">￥{$vo['market_price']}</span></td>
            <td align="center">{:date('Y/m/d',$vo['create_time'])}</td>
            <td align="center">
			<if condition="$search['is_del'] eq 1">
				<!-- <a  href='javascript:updateShelf({$vo["product_id"]},0,"恢复")'>[恢复删除]</a>
				<a   href='javascript:productRecyleDel({$vo["product_id"]})'>[强力删除]</a> -->
			<else />
				<a href='{:U("Merchant/spaEdit","id=".$vo['spa_id'])}'>[编辑]</a> 
				<a href="javascript:void(0)" onclick='delModel({link:"<php>echo U("merchant/spaDel","id=".$vo["spa_id"])</php>"})'>[删除]</a>
			</if>
			</td>
          </tr>
        </volist>
      </tbody>
    </table>
    <div class="commonBtnArea" >
        {$page}
    </div>
  </DIV>
</DIV>
</DIV>
<DIV class=clear></DIV>
<script language="javascript">
//创建表单实例
var formObj = new Form('searchForm');
$(function()
{
	<if condition="($search)"> 
		var searchForm = {:json_encode($search)};
		formObj.init(searchForm);
	</if>
});
</script>
<include file="Public:foot"/>
<!-- <script>
function updateShelf(id,val,mytip){
	if(val==0){
		var tip = '上架';
	}else{
		var tip = '下架';
	}
	if(mytip!=''){
		tip = mytip;
	}
	popup.confirm(tip,'你确定要'+tip+'吗',function(action){
			if(action == 'ok'){
			 $.ajax({
				 type: "GET",
				 url: '{:U('Product/updateShelf')}?id='+id +'&value='+val,
				 dataType: "json",
				success: function(json){
					if(json.status==1){
						//popup.alert(json.info);
						window.location.reload();
						return false;
					}else{
						window.location.reload();
						return false;
					}
				}
			 });
			}
		});
}
//回收站删除，彻底删除
function productRecyleDel(id){
	popup.confirm('彻底删除商品','你确定要彻底删除商品吗',function(action){
			if(action == 'ok'){
			 $.ajax({
				 type: "GET",
				 url: '{:U('Product/productRecyleDel')}?id='+id ,
				 dataType: "json",
				success: function(json){
					if(json>=1){
						$('#'+id).remove();
						return false;
					}else{
						popup.alert(json.info);
						return false;
					}
				}
			 });
			}
		});
}
//删除批量id会员
function delModels(val){
	if(val==0){
		var tip = '上架';
	}else if(val==2){
		var tip = '下架';
	}else{
		var tip = '删除';
		
	}
	popup.confirm(tip,'你确定要'+tip+'所选吗',function(action){
		if(action == 'ok'){
			var delids = new Array();
			var ids = $('input[name="del_id[]"]');
			var j = 0;
			for(i=0;i<ids.length;i++){
				if(ids.eq(i).is(":checked")==true){
					delids[j] = ids.eq(i).val();
					j++;
				}
			}
			if(val==-1){
				var url = '{:U('Product/productRecyleDelAll')}?del_id=' + delids;
			}else{
				var url = '{:U('Product/updateShelfAll')}?del_id=' + delids + '&value='+val;
			}
			$.ajax({
				 type: "GET",
				 url: url,
				 dataType: "json",
				success: function(json){
					if((json.status==1 && val!=-1)|| (json>=1 && val==-1)){
						window.location.reload();
						//$("json.id").remove();
						return false;
					}else{
						popup.alert(json.info);
						return false;
					}
				}
			 });
		}
	});

}

</script> -->