<include file="Public:head"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    <DIV class="Item hr">
      <DIV class=current>[{$groupData.title}]组规则管理</DIV>
    </DIV>
    <table width="99.5%" border="0" cellspacing="0" cellpadding="0" class="tab">
      <thead>
        <tr>
          <td width="6%">ID</td>
          <td width="25%">规则</td>
          <td width="15%">标题</td>
          <td>附加条件</td>
          <td>状态</td>
          <td>操作</td>
        </tr>
      </thead>
      <volist name="list" id="vo">
        <tr for='check_{$vo.id}'>
          <td>{$vo.id}</td>
          <td>{$vo.name}</td>
          <td>{$vo.title}</td>
          <td>{$vo.condition}</td>
          <td align="center"><div id="html_status_{$vo.id}"> {$groupRuleStatusHtml[$vo['group']]} </div></td>
          <td align="center"><if condition="$vo.group eq '1'"> <a data-status='2' data-rid="{$vo.id}" data-id="{$groupData.id}" href="javascript:;" class="rule_manager btn btn-primary btn-sm btn-danger" role="button">{$groupRuleStatusAction[$vo['group']]}</a>
              <else />
              <a data-status='1' data-rid="{$vo.id}" data-id="{$groupData.id}" href="javascript:;" class="rule_manager btn btn-primary btn-sm btn-success" role="button">{$groupRuleStatusAction[$vo['group']]}</a> </if></td>
        </tr>
      </volist>
      <tr align="center">
        <td colspan="12">{$page}</td>
      </tr>
    </table>
    <div class="commonBtnArea" >
      <button class="btn button1">返回</button>
    </div>
  </DIV>
</DIV>
</DIV>
<DIV class=clear></DIV>
<include file="Public:foot"/>
</BODY></HTML><script>
        $(function() {
        $('.rule_manager').click(function() {
            var data = {};
            var o = $(this);
            data['status'] = $(this).attr('data-status');
            data['id'] = $(this).attr('data-id');
            data['rid'] = $(this).attr('data-rid');
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "{:U('Auth/editGroupRule')}",
                data: data,
                success: function(data) {
                    o.attr('data-status', data.data.status);
                    if (data.data.status == 2) {
                        o.removeClass('btn-success').addClass("btn-danger").html("{$groupRuleStatusAction[1]}");
                        $("#html_status_" + data.data.rid).html("{$groupRuleStatusHtml[1]}");
                    } else {
                        o.removeClass('btn-danger').addClass("btn-success").html("{$groupRuleStatusAction[2]}");
                        $("#html_status_" + data.data.rid).html("{$groupRuleStatusHtml[2]}");
                    }

                }
            });
        });

		
		$(".button1").click(function(){
			window.history.back();
		})
    });
</script>
