<include file="Public:head"/>
<js src="__PUBLIC__/js/datePicker/WdatePicker.js"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    <DIV class="Item hr">
      <DIV class=current>{$action_name}</DIV>
    </DIV>
	<a  id="checkbuttonall" href="{:U('Supplier/supplierTypeEdit',array('type'=>$type))}"><button type="button" class="btn"><span class="sel_all">添加</span></button></a>
    <table width="99.5%">
    	<colgroup>
  			<col />
			<col width="660px"/>
		</colgroup>
		<tbody>
			<tr>
				<td>
					<!--<button class="btn" onclick="balance_add()">预存款管理</button>
					<button class="btn">返利管理</button>-->
				</td>
				<td>
					<!--<form action="__URL__/<if condition="ACTION_NAME eq 'index'">index<else/>recycle</if>" method="post">关键字：
						<input type="text"  class="input" name="keywords" style="width:100px;" value="{$keywords}"/>
				               &nbsp;&nbsp;&nbsp;&nbsp;注册时间：
				               <input type="text" id="d4311" name="starttime"  class="input" style="width:100px;"class="Wdate" onFocus="WdatePicker({isShowClear:true,readOnly:true,realDateFmt:'yyyy-MM-dd',realTimeFmt:'HH:mm:ss',maxDate:'%y-%M-%d'})" value="{$starttime}"/>
				               -<input type="text" name="endtime"  style="width:100px;"   class="input" class="Wdate" id="d4312" onFocus="WdatePicker({isShowClear:false,realDateFmt:'yyyy-MM-dd',realTimeFmt:'HH:mm:ss',readOnly:true,maxDate:'%y-%M-%d'})"  value="{$endtime}"/>
						<input type="submit" value="搜索" class="btn submit" style="margin-left:20px;"/>
					</form>-->
				</td>
			</tr>
		</tbody>
    </table>
    
	
	<form action="__URL__/memberDelAll" method="post" id='memberDel' name="member_list">
	<table width="99.5%" border="0" cellspacing="0" cellpadding="0" class="tab">
	  
      <thead>
		<tr>
        	<td><input name="checkall" id="checkall" type="checkbox" value="" onclick="selectAll('check[]')"/></td>      
            <td>供应商类型名称</td>
			<td>供应商类型编号</td>
            <td>描述</td>
			<td>排序</td>
            <td>操作</td>          
		</tr>
        <volist name="list" id="item">
        <tr id='{$item.id}'>
        	<td><input name="check[]" type="checkbox" id="checkone" value="{$item.id}" /></td>
            <td>{$item.supplier_typename}</td>
			<td>{$item.type_sn}</td>
            <td>{$item.desc}</td>
            <td><input style='width:50px;' type='text' class='input' name='type_sn' old='{$item.sort}' value='{$item.sort}' onblur="sortUpdate(this,'sort')"/></td>
            <td>[ <a href="{:U('Supplier/supplierTypeEdit',array('id'=>$item['id'],'type'=>$type))}">修改</a>   ][ <a href="javascript:delModel('{:U('Supplier/supplierTypedel',array('id'=>$item['id'],'type'=>$type))}')">删除</a>   ]</td>
        </tr>
        </volist>
		<tr align="center">
              <td colspan="13">{$page}</td>
              </tr>
 	  </thead>
    </table>
	</form>
  </DIV>
</DIV>
</DIV>
<DIV class=clear></DIV>
<include file="Public:foot"/>
<script>
//删除指定id会员
function delModel(url){
	if(url!=null){
		popup.confirm('删除供应商','你确定要删除吗，不能恢复。',function(action){
			if(action == 'ok'){
			 $.ajax({
				 type: "GET",
				 url: url,
				 dataType: "json",
				success: function(json){
					if(json.status==1){
						popup.alert('删除成功');
						window.location.reload();
						//$("json.id").remove();
						return false;
					}else{
						popup.alert('删除失败');
						return false;
					}
				}
			 });
			}
		});
		//删除多个
	}else{

	}
}
function sortUpdate(object,name){
	var value = $(object).val();
	var old = $(object).attr('old');
	var oldvalue = $(object).attr('old');
	var Id = $(object).parent().parent().attr('id');
	if(!isNaN(value)){
	}else{
	   art.dialog.tips("不是数字类型", 1.5);
	   $(object).val(old);
	   return false;
	}
	//var data = array();
	if(value!=oldvalue){
	$.getJSON("__URL__/supplierUpdate",{"id":Id,name:name,value:value},function(json){
		art.dialog.tips(json.info, 1.5);
	});
	}
}
</script>
</BODY></HTML>