<include file="Public:head"/>
<DIV class=clear></DIV>
<DIV class=mainBody> <include file="Public:left"/>
  <DIV id=Right>
    供应商
    <style>
	.tab tr{
	font_size:16px;
	}
    </style>
	<form method="post" action="">
    <div class="content" style="height: 440px;">
	<table class="tab" width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr class="t_l">
				<td width="20%">公司名称/个人：</td><td>{$data.company}</td>
			</tr>
			<tr class="t_l">
				<td>联系人：</td><td>{$data.contacts}</td>
			</tr>
			<tr class="t_l">
				<td>联系电话：</td><td>{$data.telephone}</td>
			</tr>
			<tr class="t_l">
				<td>微信号：</td><td>{$data.weixin}</td>
			</tr>
			<tr class="t_l">
				<td>供应商类型</td><td><select name='supplier_type'>
				<option value=''>选择供应商类型</option>
				<volist name='supplierTypeList' id='supplier'>
				<option value='{$supplier.type_sn}' <if condition="$supplier['type_sn'] eq $data['supplier_type']"> selected="selected"</if>>{$supplier.supplier_typename}</option>
				</volist>
				</select></td>
			</tr>
			<tr class="t_l">
				<td>业务类型</td><td><select name='type_sn'>
				<option value=''>选择业务类型</option>
				<volist name='list' id='vo'>
				<option value='{$vo.type_sn}' <if condition="$vo['type_sn'] eq $data['type_sn']"> selected="selected"</if>>{$vo.supplier_typename}</option>
				</volist>
				</select></td>
			</tr>
			<tr class="t_l">
				<td>公司/个人 网站：</td><td>{$data.url}</td>
			</tr>
			<tr class="t_l">
				<td>主营业务：</td><td>{$data.main_business}</td>
			</tr>
			<tr class="t_l">
				<td>留言：</td><td>{$data.note}</td>
			</tr>
			<tr class="t_l">
				<td>地址：</td><td>{$data.areas}{$data.address}</td>
			</tr>
			<tr class="t_l">
				<td>申请时间</td><td>{$data.create_time|date='Y-m-d H-i',###}</td>
			</tr>
			
			<tr>
			<td>处理：</td>
			<td align="left">
					<label><input type="radio"<if condition="$data['status'] eq 0"> checked="checked"</if> value="0" name="status">审核未通过</label>
					<label><input type="radio"<if condition="$data['status'] eq 1"> checked="checked"</if> value="1" name="status">未审核</label>
					<label><input type="radio"<if condition="$data['status'] eq 2"> checked="checked"</if> value="2" name="status">审核中</label>
					<label><input type="radio"<if condition="$data['status'] eq 3"> checked="checked"</if> value="3" name="status">审核通过</label>
					<label><input type="radio"<if condition="$data['status'] eq 4"> checked="checked"</if> value="4" name="status">取消资格</label>
				</td>
			</tr>
			<tr class="t_l">
				<td>管理员备注：</td><td><textarea name="admin_note" cols="100">{$data.admin_note}</textarea></td>
			</tr>
			
		</tbody>
	</table>
</div>
<div class="commonBtnArea" style="width: 1654px;">
      <button id="submit" class="btn submit">提交</button> 
       <button onclick="location.href='{:U('Supplier/index')}';return false;" class="btn button1">返回</button>
</div>
</form>	
    
  </DIV>
</DIV>
</DIV>
<DIV class=clear></DIV>
<include file="Public:foot"/>
</BODY></HTML>
